<div class="annotation-anchor" (click)="removeAnnotation()"
     [style.left]="annotation.x | getAnnotationAnchorPosition:annotationAnchorRadius"
     [style.top]="annotation.y | getAnnotationAnchorPosition:annotationAnchorRadius:scale">
  ×
</div>

<div class="annotation-content"
     [style]="annotation.type | getAnnotationStyle:annotation.content"
     [style.left]="annotation.x | getAnnotationContentPosition:annotationAnchorRadius"
     [style.top]="annotation.y | getAnnotationContentPosition:annotationAnchorRadius:scale">
  <ng-container *ngIf="!annotation.type">
    <button class="annotation-type-option" (click)="setAnnotationType('text')">
      <img src="assets/icons/align-left-solid.svg" alt="Text">
    </button>
    <button class="annotation-type-option" (click)="setAnnotationType('image')">
      <img src="assets/icons/image-solid.svg" alt="Image">
    </button>
  </ng-container>

  <ng-container *ngIf="annotation.type === 'text'">
    <ng-container *ngIf="!annotation.content; else content">
      <form [formGroup]="formGroup" (ngSubmit)="setAnnotationContent()">
        <input class="annotation-content-input" type="text" formControlName="content">
      </form>
    </ng-container>
    <ng-template #content>
      <span class="annotation-text-content">{{formGroup.get('content')?.value}}</span>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="annotation.type === 'image'">
    <ng-container *ngIf="!annotation.content; else content">
      <input class="annotation-content-input" type="file" accept="image/*" (change)="setAnnotationContent($event)">
    </ng-container>
    <ng-template #content>
      <img class="annotation-image-content" [src]="annotation.content" alt="">
    </ng-template>
  </ng-container>
</div>
