.annotation-anchor {
  position: absolute;
  border-radius: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  font-weight: bolder;
  cursor: pointer;
}

.annotation-content {
  position: absolute;
  border-radius: 4px;
  background-color: lightseagreen;
  color: white;
  padding: 4px;
  width: max-content;
}

.annotation-type-option {
  background: none;
  border: 4px;
  padding: 4px;
  cursor: pointer;

  img {
    width: 18px;
    height: 18px;
    filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(240deg) brightness(104%) contrast(100%);
  }
}

.annotation-content-input {
  margin: 4px 6px;
  background-color: white;
  color: black;
}

.annotation-text-content {
  color: black;
  user-select: none;
}

.annotation-image-content {
  max-width: 200px;
  object-fit: contain;
}
